@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("isap-icons/fonts/isap-font-icons.eot");
  src:url("isap-icons/fonts/isap-font-icons.eot?#iefix") format("embedded-opentype"),
    url("isap-icons/fonts/isap-font-icons.woff") format("woff"),
    url("isap-icons/fonts/isap-font-icons.ttf") format("truetype"),
    url("isap-icons/fonts/isap-font-icons.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;
}

.isap-icon {
  font-family: "untitled-font-1" !important;
}

.isap-toolbox-icon {
  padding: 0.1rem 0.3rem;
  border-radius: 50% !important;
}



.isap-icon-export:before {
  content: "\62";
}
.isap-icon-tree:before {
  content: "\63";
}
.isap-icon-mail:before {
  content: "\64";
}
.isap-icon-save:before {
  content: "\65";
}
.isap-icon-sidebar-businessoperation:before {
  content: "\66";
}
.isap-icon-sidebar-dashboard:before {
  content: "\67";
}
.isap-icon-sidebar-generalsetting:before {
  content: "\68";
}
.isap-icon-sidebar-region:before {
  content: "\69";
}
.isap-icon-sidebar-report:before {
  content: "\6a";
}
.isap-icon-sidebar-ruleaction:before {
  content: "\6b";
}
.isap-icon-sidebar-server:before {
  content: "\6c";
}
.isap-icon-sidebar-store:before {
  content: "\6d";
}
.isap-icon-sidebar-users:before {
  content: "\6e";
}
.isap-icon-sidebar-videosource:before {
  content: "\6f";
}
.isap-icon-add:before {
  content: "\61";
}
.isap-icon-filerarraw-close:before {
  content: "\70";
}
.isap-icon-filerarraw-open:before {
  content: "\71";
}
.isap-icon-cardview:before {
  content: "\72";
}
.isap-icon-delete:before {
  content: "\73";
}
.isap-icon-detial:before {
  content: "\74";
}
.isap-icon-edit:before {
  content: "\75";
}
.isap-icon-export:before {
  content: "\76";
}
.isap-icon-listview:before {
  content: "\77";
}
.isap-icon-more:before {
  content: "\78";
}
.isap-icon-sort:before {
  content: "\79";
}
.isap-icon-view:before {
  content: "\7a";
}
.isap-icon-region-1:before {
  content: "\41";
}
.isap-icon-region-2:before {
  content: "\42";
}
.isap-icon-region-3:before {
  content: "\43";
}
.isap-icon-site:before {
  content: "\44";
}
